@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?i8vo7o');
  src:  url('fonts/icomoon.eot?i8vo7o#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?i8vo7o') format('truetype'),
    url('fonts/icomoon.woff?i8vo7o') format('woff'),
    url('fonts/icomoon.svg?i8vo7o#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Audio-coinNormal:before {
  content: "\e900";
  color: #22abfc;
}
.icon-AurouracoinNormal .path1:before {
  content: "\e901";
  color: rgb(0, 104, 89);
}
.icon-AurouracoinNormal .path2:before {
  content: "\e902";
  margin-left: -0.984375em;
  color: rgb(255, 255, 255);
}
.icon-Bitcoin-CashNormal .path1:before {
  content: "\e903";
  color: rgb(75, 207, 81);
}
.icon-Bitcoin-CashNormal .path2:before {
  content: "\e904";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Bitcoin-GoldNormal .path1:before {
  content: "\e905";
  color: rgb(3, 30, 107);
}
.icon-Bitcoin-GoldNormal .path2:before {
  content: "\e906";
  margin-left: -1em;
  color: rgb(219, 154, 30);
}
.icon-Bitcoin-GoldNormal .path3:before {
  content: "\e907";
  margin-left: -1em;
  color: rgb(15, 43, 113);
}
.icon-Bitcoin-GoldNormal .path4:before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(18, 44, 115);
}
.icon-BitcoinNormal:before {
  content: "\e909";
  color: #f5b300;
}
.icon-Bitconnect-BCCNormal:before {
  content: "\e90a";
  color: #f59100;
}
.icon-Bitshares-BTSNormal:before {
  content: "\e90b";
  color: #35baeb;
}
.icon-DashNormal:before {
  content: "\e90c";
  color: #3a74be;
}
.icon-DCRNormal .path1:before {
  content: "\e90d";
  color: rgb(44, 215, 163);
}
.icon-DCRNormal .path2:before {
  content: "\e90e";
  margin-left: -1.2802734375em;
  color: rgb(40, 114, 254);
}
.icon-DevcoinNormal .path1:before {
  content: "\e90f";
  color: rgb(0, 179, 70);
}
.icon-DevcoinNormal .path2:before {
  content: "\e910";
  margin-left: -0.984375em;
  color: rgb(254, 254, 254);
}
.icon-DOGENormal:before {
  content: "\e911";
  color: #f8bf1a;
}
.icon-Etherium-ClassicNormal .path1:before {
  content: "\e912";
  color: rgb(12, 131, 18);
}
.icon-Etherium-ClassicNormal .path2:before {
  content: "\e913";
  margin-left: -0.615234375em;
  color: rgb(12, 131, 18);
}
.icon-Etherium-ClassicNormal .path3:before {
  content: "\e914";
  margin-left: -0.615234375em;
  color: rgb(12, 131, 18);
}
.icon-Etherium-ClassicNormal .path4:before {
  content: "\e915";
  margin-left: -0.615234375em;
  color: rgb(3, 76, 3);
}
.icon-Etherium-ClassicNormal .path5:before {
  content: "\e916";
  margin-left: -0.615234375em;
  color: rgb(60, 185, 60);
}
.icon-Etherium-ClassicNormal .path6:before {
  content: "\e917";
  margin-left: -0.615234375em;
  color: rgb(60, 185, 60);
}
.icon-Etherium-ClassicNormal .path7:before {
  content: "\e918";
  margin-left: -0.615234375em;
  color: rgb(60, 185, 60);
}
.icon-Etherium-ClassicNormal .path8:before {
  content: "\e919";
  margin-left: -0.615234375em;
  color: rgb(22, 104, 22);
}
.icon-EtheriumNormal .path1:before {
  content: "\e91a";
  color: rgb(138, 146, 178);
}
.icon-EtheriumNormal .path2:before {
  content: "\e91b";
  margin-left: -0.615234375em;
  color: rgb(69, 74, 117);
}
.icon-EtheriumNormal .path3:before {
  content: "\e91c";
  margin-left: -0.615234375em;
  color: rgb(138, 146, 178);
}
.icon-EtheriumNormal .path4:before {
  content: "\e91d";
  margin-left: -0.615234375em;
  color: rgb(128, 128, 128);
}
.icon-EtheriumNormal .path5:before {
  content: "\e91e";
  margin-left: -0.615234375em;
  color: rgb(98, 104, 143);
}
.icon-EtheriumNormal .path6:before {
  content: "\e91f";
  margin-left: -0.615234375em;
  color: rgb(98, 104, 143);
}
.icon-EtheriumNormal .path7:before {
  content: "\e920";
  margin-left: -0.615234375em;
  color: rgb(98, 104, 143);
}
.icon-Europe-coinNormal .path1:before {
  content: "\e921";
  color: rgb(49, 49, 49);
}
.icon-Europe-coinNormal .path2:before {
  content: "\e922";
  margin-left: -1em;
  color: rgb(27, 37, 142);
}
.icon-FLASHNormal .path1:before {
  content: "\e923";
  color: rgb(255, 175, 0);
}
.icon-FLASHNormal .path2:before {
  content: "\e924";
  margin-left: -1em;
  color: rgb(252, 233, 0);
}
.icon-FLASHNormal .path3:before {
  content: "\e925";
  margin-left: -1em;
  color: rgb(248, 241, 0);
}
.icon-GAMENormal:before {
  content: "\e926";
  color: #98c01f;
}
.icon-GemzNormal:before {
  content: "\e927";
  color: #f36769;
}
.icon-GNOSISNormal:before {
  content: "\e928";
  color: #21a7c2;
}
.icon-GolemNormal .path1:before {
  content: "\e929";
  color: rgb(49, 49, 49);
}
.icon-GolemNormal .path2:before {
  content: "\e92a";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-GolemNormal .path3:before {
  content: "\e92b";
  margin-left: -1em;
  color: rgb(49, 49, 49);
}
.icon-IconomiNormal:before {
  content: "\e92c";
  color: #4f6f90;
}
.icon-IOTANormal:before {
  content: "\e92d";
}
.icon-JBSNormal:before {
  content: "\e92e";
  color: #0273c2;
}
.icon-KomodoNormal .path1:before {
  content: "\e92f";
  color: rgb(52, 103, 103);
}
.icon-KomodoNormal .path2:before {
  content: "\e930";
  margin-left: -0.71875em;
  color: rgb(250, 187, 55);
}
.icon-KomodoNormal .path3:before {
  content: "\e931";
  margin-left: -0.71875em;
  color: rgb(81, 126, 126);
}
.icon-LISKNormal:before {
  content: "\e932";
  color: #1a568d;
}
.icon-LitecoinNormal .path1:before {
  content: "\e933";
  color: rgb(192, 192, 192);
}
.icon-LitecoinNormal .path2:before {
  content: "\e934";
  margin-left: -1em;
  color: rgb(192, 192, 192);
}
.icon-LitecoinNormal .path3:before {
  content: "\e935";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-MaidSafeCoinNormal .path1:before {
  content: "\e936";
  color: rgb(67, 145, 219);
}
.icon-MaidSafeCoinNormal .path2:before {
  content: "\e937";
  margin-left: -0.87890625em;
  color: rgb(144, 189, 233);
}
.icon-MaidSafeCoinNormal .path3:before {
  content: "\e938";
  margin-left: -0.87890625em;
  color: rgb(170, 197, 225);
}
.icon-MaidSafeCoinNormal .path4:before {
  content: "\e939";
  margin-left: -0.87890625em;
  color: rgb(183, 212, 241);
}
.icon-MaidSafeCoinNormal .path5:before {
  content: "\e93a";
  margin-left: -0.87890625em;
  color: rgb(228, 239, 250);
}
.icon-MaidSafeCoinNormal .path6:before {
  content: "\e93b";
  margin-left: -0.87890625em;
  color: rgb(149, 193, 235);
}
.icon-MaidSafeCoinNormal .path7:before {
  content: "\e93c";
  margin-left: -0.87890625em;
  color: rgb(151, 194, 235);
}
.icon-MaidSafeCoinNormal .path8:before {
  content: "\e93d";
  margin-left: -0.87890625em;
  color: rgb(203, 224, 245);
}
.icon-MaidSafeCoinNormal .path9:before {
  content: "\e93e";
  margin-left: -0.87890625em;
  color: rgb(26, 86, 141);
}
.icon-MoneroNormal .path1:before {
  content: "\e93f";
  color: rgb(76, 76, 76);
}
.icon-MoneroNormal .path2:before {
  content: "\e940";
  margin-left: -0.984375em;
  color: rgb(255, 107, 1);
}
.icon-NamecoinNormal .path1:before {
  content: "\e941";
  color: rgb(107, 145, 192);
}
.icon-NamecoinNormal .path2:before {
  content: "\e942";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-NEM-XemNormal .path1:before {
  content: "\e943";
  color: rgb(250, 190, 0);
}
.icon-NEM-XemNormal .path2:before {
  content: "\e944";
  margin-left: -1.0166015625em;
  color: rgb(42, 184, 176);
}
.icon-NEM-XemNormal .path3:before {
  content: "\e945";
  margin-left: -1.0166015625em;
  color: rgb(134, 192, 234);
}
.icon-NeoNormal:before {
  content: "\e946";
  color: #74bc2a;
}
.icon-NxtNormal:before {
  content: "\e947";
  color: #028fbb;
}
.icon-OMNINormal:before {
  content: "\e948";
  color: #124793;
}
.icon-Omnise-goNormal:before {
  content: "\e949";
  color: #1a53f0;
}
.icon-PeercoinNormal .path1:before {
  content: "\e94a";
  color: rgb(0, 179, 70);
}
.icon-PeercoinNormal .path2:before {
  content: "\e94b";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-PIVXNormal:before {
  content: "\e94c";
  color: #5c4c7c;
}
.icon-PotcoinNormal:before {
  content: "\e94d";
  color: #145914;
}
.icon-PrimeNormal:before {
  content: "\e94e";
  color: #fbd200;
}
.icon-RippleNormal .path1:before {
  content: "\e94f";
  color: rgb(18, 118, 167);
}
.icon-RippleNormal .path2:before {
  content: "\e950";
  margin-left: -0.984375em;
  color: rgb(254, 254, 254);
}
.icon-RISENormal .path1:before {
  content: "\e951";
  color: none;
}
.icon-RISENormal .path2:before {
  content: "\e952";
  margin-left: -1em;
  color: rgb(134, 82, 165);
}
.icon-RISENormal .path3:before {
  content: "\e953";
  margin-left: -1em;
  color: rgb(231, 61, 84);
}
.icon-RISENormal .path4:before {
  content: "\e954";
  margin-left: -1em;
  color: rgb(244, 149, 83);
}
.icon-RISENormal .path5:before {
  content: "\e955";
  margin-left: -1em;
  color: rgb(60, 187, 144);
}
.icon-RISENormal .path6:before {
  content: "\e956";
  margin-left: -1em;
  color: rgb(65, 157, 214);
}
.icon-RUBIES-RBIESNormal:before {
  content: "\e957";
  color: #d9001f;
}
.icon-SteemNormal .path1:before {
  content: "\e958";
  color: rgb(0, 79, 158);
}
.icon-SteemNormal .path2:before {
  content: "\e959";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-SteemNormal .path3:before {
  content: "\e95a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-SteemNormal .path4:before {
  content: "\e95b";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Stellar-lumensNormal:before {
  content: "\e95c";
  color: #6ddfff;
}
.icon-StorjNormal:before {
  content: "\e95d";
  color: #1494ff;
}
.icon-Stratis-STRATNormal:before {
  content: "\e95e";
  color: #5da5f7;
}
.icon-SynergyNormal:before {
  content: "\e95f";
  color: #150362;
}
.icon-TetherNormal .path1:before {
  content: "\e960";
  color: rgb(0, 164, 120);
}
.icon-TetherNormal .path2:before {
  content: "\e961";
  margin-left: -0.984375em;
  color: rgb(255, 255, 255);
}
.icon-TetherNormal .path3:before {
  content: "\e962";
  margin-left: -0.984375em;
  color: rgb(255, 255, 255);
}
.icon-TetherNormal .path4:before {
  content: "\e963";
  margin-left: -0.984375em;
  color: rgb(255, 255, 255);
}
.icon-TetherNormal .path5:before {
  content: "\e964";
  margin-left: -0.984375em;
  color: rgb(255, 255, 255);
}
.icon-VergeNormal:before {
  content: "\e965";
  color: #45b2b5;
}
.icon-Vert-coinNormal:before {
  content: "\e966";
  color: #166816;
}
.icon-WAVESNormal:before {
  content: "\e967";
  color: #5dbdf7;
}
.icon-Zcash-CzdanNormal .path1:before {
  content: "\e968";
  color: rgb(58, 116, 190);
}
.icon-Zcash-CzdanNormal .path2:before {
  content: "\e969";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
